{% extends "books/base.html" %}

{% block content %}
    <h3>Authors</h3>

    <div class="container">
        <div class="row">
            <div class="col col-xl-8">
                <a class="btn btn-primary" href="{% url 'books:author_add' %}" role="button">Add New Author</a>
            </div>
            <div class="col col-sm-4">
                <form class="d-flex" role="search" action="{% url 'books:author_search' %}" method='get'>
                    <input class="form-control me-2" type="search" name="search" placeholder="Search Authors">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>

    {% if authors %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.name }}</td>
                    <td>
                        <a class="btn btn-success" href="{% url 'books:author' author.id %}" role="button">View</a>
                        {% if user.is_authenticated %}
                        <a class="btn btn-warning" href="{% url 'books:author_edit' author.id %}" role="button">Edit</a>
                        <a class="btn btn-danger" href="{% url 'books:author_delete' author.id %}" role="button">Delete</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No authors were found!</p>
    {% endif%}

{% endblock content %}